################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClickOnceDeploTest/ClickOnceDeploTest/obj/Debug/
/ClickOnceDeploTest/.vs/
/ClickOnceDeploTest/ClickOnceDeploTest/bin/
